
<!-- Copyright (C) 2019-2021 LEIDOS.
Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License. You may obtain a copy of
the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
-->

<launch>
    <arg name="sensor_frame_id" default="mobileye" />
    <arg name="viz_frame_id" default="mobileye" />
    <arg name="use_kvaser" default="false" />
    <arg name="kvaser_hardware_id" default="10051" />
    <arg name="kvaser_circuit_id" default="0" />
    <arg name="use_socketcan" default="false" />
    <arg name="socketcan_device" default="can0" />

    <remap from="can_tx" to="received_messages"/>
    <include file="$(find delphi_esr)/launch/delphi_esr.launch" pass_all_args="true"/>
</launch>
